@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  text-align: center;
}

.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.logo {
  font-size: xx-large;
  color: white;
  background-color: white;
  text-align: center;
  top: 50%;
  width: 90%;
}
.logo img {
  max-height: 80px;
  padding-right: 60px;
}

.navbar {
  background-color: #060b26;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text,
.nav-sub-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-sub-text {
  padding: 0px 0px 20px 50px;
  height: 30px;
  display: none;
}

.nav-text a,
.nav-sub-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #28a745 !important;
  color: white;
  text-decoration: none;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}
/*background behind logo and menu*/
.ioNZru {
  background: white !important;
}
/*hambuger menu icon*/
svg {
  color: black !important;
}
/*toggle menu background*/
.jwAxTp {
  background: #fff;
}
.dMLVkQ {
  background: #fff;
  color: #000 !important;
}
.dMLVkQ:hover {
  background: #fff !important;
  color: #000 !important;
  border-left: 4px solid #28a745 !important;
}
a:hover {
  color: #dcdcdc;
}
.xeejZ:hover {
  background: #28a745 !important;
}

.controls {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}

.control-buttons {
  width: 200px;
  height: 60px;
}

.rectangle {
  width: 500px;
  height: 300px;
  border-radius: 10px;
  border: 2px solid blue;
  align-self: center;
}
.container {
  background-color: white;
  margin: auto;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.card {
  margin: 10px;
}
.game {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.game-button1 {
  margin-top: 200px;
}
.game-button2 {
  margin-top: 10px;
}
.game-play button {
  margin-left: 20px;
  padding: 7px;
}

.card-body {
  background-color: #28a745;
  color: white;
}
.card-title {
  margin-bottom: 0.75rem;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.mb-2,
.my-2 {
  display: inline-flex;
  height: 18rem;
  margin-top: 30px;
}

.endgame {
  padding-top: 10px;
}

.flip-card {
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  cursor: pointer;
  box-shadow: 0 15px 50px rgba(0,0,0,0.4);
  border: none;
}

.flip-card:hover {
  transform: rotateY(180deg);
}

.side {
  backface-visibility: hidden;
}

.back {
  transform: rotateY(-180deg);
  margin-top: -150px;
}

.disable-button {
  cursor: not-allowed;
  pointer-events: none;

  /*Button disabled - CSS color class*/
  color: #c0c0c0;
  background-color: #ffffff;
}

.spoken-word {
  margin-top:25px;
}

.spoken-word-off {
  display:none;
}
